@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: "SUITE-Regular";
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(248, 248, 248);
}
a {
  color: #222;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.item {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px #00000029;
}
.item img {
  transition: 0.3s;
}
.item:hover img {
  filter: blur(2px);
}
.detail {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -490px;
  left: 0;
  transition: 0.3s;
  padding: 20px;
}
.item:hover .detail {
  bottom: -50%;
}
.title {
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.title h2 {
  font-size: 18px;
  font-weight: bold;
  float: left;
}
.title h2 em {
  display: block;
  font-size: 16px;
  font-weight: normal;
  margin-top: 5px;
}
.title span {
  float: right;
  font-weight: bold;
  color: crimson;
}
.info {
  position: relative;
}
.info > div {
  margin-bottom: 10px;
  margin-top: 10px;
}
.info > div span {
  margin-top: 5px;
}
/* size */
.size label,
.color label {
  display: block;
}
.size span,
.color span {
  transition: 0.3s;
}
.size span {
  font-size: 14px;
  color: #000;
  margin-right: 3px;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  padding: 0 5px;
  border-radius: 3px;
  cursor: pointer;
}
.size span.active {
  color: #fff;
  background-color: #000;
}
/* color */
.color span {
  width: 20px;
  height: 20px;
  background-color: brown;
  display: inline-block;
  cursor: pointer;
}
.color span.active {
  border-radius: 50%;
}
.color span:nth-of-type(2) {
  background-color: red;
}
.color span:nth-of-type(3) {
  background-color: pink;
}
.color span:nth-of-type(4) {
  background-color: skyblue;
}
.color span:nth-of-type(5) {
  background-color: black;
}
/* btn */
.cart {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  width: 100%;
  margin-top: 20px;
}
/* like */
.like::before {
  content: "\f08a";
  font-family: fontawesome;
  color: #ccc;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.like.active::before {
  content: '\f004';
  color: crimson;
}