@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.item {
  width: 300px;
  position: relative;
  margin: 10px 0;
}
.item input[type="text"],
.item input[type="email"],
.item input[type="tel"] {
  border: 1px solid lightgray;
  height: 40px;
  width: inherit;
  border-radius: 5px;
  padding: 20px;
  padding-left: 50px;
  outline: none;
  transition: 0.3s;
}
.item .fa {
  position: absolute;
  top: 0;
  left: 0;
  color: gray;
  font-size: 22px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  transition: 0.3s;
}
.item input:focus {
  border: 1px solid dodgerblue;
  box-shadow: 0 0 10px dodgerblue;
}
.item input:focus + .fa {
  color: dodgerblue;
}
.item input:focus::placeholder {
  visibility: hidden;
}
