/* XEION CDN */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
/* FONTAWESOME */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* FONT */
@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: "SUITE-Regular";
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222;
}
a {
  color: #222;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
/* design */
.faq {
  color: #fff;
}
.faq-inner {
  width: 700px;
  margin: auto;
}
.faq-inner h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
}
.accordion {
  font-size: 26px;
}
.accordion .title,
.accordion .content {
  background-color: #303030;
  padding: 10px 15px;
  margin-bottom: 10px;
}
.accordion .title {
  cursor: pointer;
}
.accordion .content {
  display: none;
  font-size: 22px;
}
.accordion .title.active {
  background-color: #353b48;
}
.accordion .title::after {
  content: '\e9c5';
  font-family: xeicon;
  float: right;
  margin-top: 5px;
  transition: 0.3s;
}
.accordion .title.active::after {
  transform: rotate(45deg);
}