@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
* {
    box-sizing: border-box;
  font-family: "SUITE-Regular";
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(images/1.jpg) no-repeat center center / cover;
  position: relative;
}
body::before {
  content: "";
  position: absolute;
  background-color: #00000060;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search h1 {
  color: #fff;
  text-align: center;
  font-weight: normal;
}
.search input[type="text"],
.search input[type="submit"] {
  padding: 10px;
  border: 1px solid transparent;

}
.search input[type="text"] {
  width: 300px;
  outline: none;
  margin-right: -6px;
  border-radius: 40px 0 0 40px;
  padding-left: 20px;
}
.search input[type="submit"] {
  width: 100px;
  border-radius: 0 40px 40px 0;
  background-color: rgb(190, 190, 190);
}
.search input[type=text]::placeholder {
    font-style: italic;
}
.search input[type="submit"]:hover {
    background-color: yellowgreen;
}